  /*GENERELLE*/
  body {
      background-color: #FFFAF5;
      margin: 0 auto;

  }

  img {
      width: 100%;
  }

  nav {
      font-family: pragmatica, sans-serif;

      font-weight: 200;

      font-style: normal;
  }

  html {
      scroll-behavior: smooth;
  }

  /*TEKSTER*/
  h1 {
      text-align: center;
      font-family: futura-pt, sans-serif;

      font-weight: 800;

      font-style: normal;
      font-size: 2rem;
  }

  h2 {
      font-family: futura-pt, sans-serif;

      font-weight: 600;

      font-style: normal;
      text-align: center;

  }

  p {
      font-family: pragmatica, sans-serif;

      font-weight: 200;

      font-style: normal;
  }

  header h1 {
      font-size: 1.4rem;
  }


  /*HEADER*/

  .lille_logo {
      width: 4vw;
      position: absolute;
      top: 2vw;
      left: 2vw;
      z-index: 5;
  }

  .header_2 {
      top: 0;
      width: 100%;
      height: 10vw;
      background: white;
      position: fixed;
  }

  .nav_1 {
      font-family: helvetica, sans-serif;
      color: black;
      font-size: 1.2rem;
      position: relative;
      top: 3.5vw;
      left: -1vw;

  }


  .nav_1 a {
      margin: 4vw;
  }


  /*MENU*/
  article {
      background-color: rgba(255, 255, 255, 0.7);
      border: 1px brown solid;
      margin: 2vw;
      padding: 2vw;
      font-family: helvetica, sans-serif;
      border-radius: 10px;
      margin-top: 13vw;

  }

  .center {
      display: flex;
      justify-content: center;
  }

  #liste {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }


  nav {
      text-align: center;
  }

  button {
      background-color: #fdfdfd;
      border: brown solid 1px;
      font-size: 1rem;
      border-radius: 6px;
      width: 25vw;
      height: 7vw;
      margin: 2vw;
      margin-bottom: 5vw;
  }

  button:hover {
      background-color: #fff7f7;

  }


  .valgt {
      background-color: #a52e2e;
      border: #450909 solid;
  }



  /*LINKS*/
  a:link {
      color: black;
      text-decoration: none;
  }

  a:visited {
      color: black;
      text-decoration: none;

  }



  /*FOOTER*/
  .footer {
      background: #EAC9C9;
      padding: 1vw;
      margin: 0vw;
  }

  .footer {
      display: grid;
      grid-template-columns: 1.7fr 1.7fr 1fr;
  }

  .footer p {
      font-family: helvetica, sans-serif;
      font-size: 0.7rem;
  }





  @media (min-width:600px) {

      img {
          width: 90%;
      }

      /*    TEKSTER*/
      h2 {
          font-size: 1rem;
      }

      /*    MENU*/
      button {

          font-size: 1rem;

          width: 19vw;
          height: 4vw;
          margin: 0.2vw;
          margin-left: 8vw;
          margin-bottom: 4vw;

      }

      article {
          text-align: center;
          width: 80vw;
          margin-top: 10vw;

      }

      /*    HEADER*/

      .lille_logo {
          width: 3vw;

          top: 1vw;
          left: 2vw;

      }

      .header_2 {
          width: 100%;
          height: 7vw;

      }


      .nav_1 {
          font-family: helvetica, sans-serif;
          color: black;
          font-size: 1.5rem;
          position: relative;
          top: 2.5vw;
          left: -10vw;
      }

      .nav_1 a {
          margin: 4vw;
      }
  }

  @media (min-width:900px) {

      /*    TEKSTER*/
      h2 {
          font-size: 2rem;
      }

      p {
          font-size: 1rem;
      }

      /*    MENU*/

      button {

          width: 11vw;
          height: 3.2vw;
          margin: 0.2vw;
          margin-left: 23vw;
          margin-bottom: 3vw;

      }

      article {
          margin-top: -87vw;
          text-align: center;
          width: 50vw;
          margin-top: 7vw;

      }

      /*    HEADER*/

      .lille_logo {
          width: 2vw;

          top: 0.3vw;
          left: 2vw;

      }


      .header_2 {
          width: 100%;
          height: 4vw;

      }

      .nav_1 {
          top: 1.2vw;
          left: -21vw;
          font-size: 1.5rem;
      }

      .nav_1 a {
          margin: 3vw;
      }



      /*FOOTER*/
      .footer {
          background: #EAC9C9;
          padding: 1vw;
          margin: 0vw;
      }

      .footer {
          display: grid;
          grid-template-columns: 4fr 4fr 1fr;
      }

      .footer p {
          font-family: helvetica, sans-serif;
          font-size: 1rem;
      }

      /*    til toppen*/
      .tiltoppen {
          width: 5vw;
          height: 5vw;

      }

  }
