* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h1,
h2,
h3,
p {
    margin: 0.5vw;
}

.col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2vw;
}

article {
    border: solid 1px black;
}

header,
footer {
    border-bottom: solid 1px black;
    border-top: solid 1px black;

}

img {
    width: 100%;
}
